*.aux
*.log
*.jar
lib/*
classes/
pom-generated.xml
pom.xml
native
.cake
.lein-deps-sum
target
.lein-repl-history
.lein-failures
.nrepl-port
*.iml
*.idea
generated/
examples/
pom.xml.asc
screen-*.tif
.ds_store
dev-resources/snippet-snapshots/**/*-actual.png
dev-resources/snippet-snapshots/**/*-difference.png
