{:description "(mix Processing Clojure)"
 :url "http://github.com/quil/quil"
 :paths ["src/clj" "src/cljc" "src/cljs" "classes"]
 :resource-paths ["resources"]
 :mvn/repos {"jogl" {:url "https://jogamp.org/deployment/maven/"}}
 :deps {quil/processing-core {:local/root "libraries/core.jar"}
        quil/processing-dxf {:local/root "libraries/dxf.jar"}
        quil/processing-pdf {:local/root "libraries/pdf.jar"}
        quil/processing-svg {:local/root "libraries/svg.jar"}

        ;; native display code
        org.jogamp.gluegen/gluegen-rt {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.gluegen/gluegen-rt$natives-macosx-universal {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.jogl/jogl-all {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.jogl/jogl-all$natives-macosx-universal {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.jogl/jogl-all$natives-linux-amd64 {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.jogl/jogl-all$natives-linux-aarch64 {:mvn/version "2.4.0-rc-20230201"}
        org.jogamp.jogl/jogl-all$natives-windows-amd64 {:mvn/version "2.4.0-rc-20230201"}

        ;; part of PDF support
        com.lowagie/itext {:local/root "libraries/itext.jar"}

        ;; svg export
        org.apache.xmlgraphics/batik-svggen {:local/root "libraries/batik.jar"}
        org.apache.xmlgraphics/batik-dom {:local/root "libraries/batik.jar"}

        ;; clojurescript p5js
        cljsjs/p5 {:mvn/version "1.7.0-0"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                   :ns-default build}
           ;; not picking up all test namespaces, probably has to do with :pattern
           :test {:extra-paths ["test/clj" "test/clj/quil"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}

           :fig
           {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                         com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}

           :cljs-test
           {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "quil.test-runner"]
            :extra-paths ["target" "test"]}}}
