^{:ring-server-options {:port 9501}
  :open-url "http://[[server-hostname]]:[[server-port]]/test-harness.html"
  :log-level :all
  :client-log-level :finest
  ;; headless is hanging?
  :launch-js ["google-chrome" "--headless" "--disable-dev-shm" "--disable-gpu" "--remote-debugging-port=9222" "--disable-gpu" "--repl" :open-url]
  ;; :launch-js ["firefox" :open-url]
  }

{:main quil.test-runner}
